<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>footer</title>
    <link type="text/css" rel="stylesheet" href="/css/footer.css">
</head>
<body>
 <div class="footer">
        <div class="ft">
            <img src="/images/pizza/AD0IycmHCBAEGAAgueDS2AUotPKI2AQwQjhC.png" width="50px" height="50px">
            <p>Caterings&nbsp;&nbsp;<span>Design</span></p>
            <p>上乘食材 非凡品质</p>
        </div>
        <div class="fc">
            <div>
                <img src="/images/pizza/AD0IycmHCBAEGAAgz8bT2AUozamsgQIwHjgk.png" width="20px" height="25px">
                <p>品质保障</p>
            </div>
            <div>
                <img src="/images/pizza/AD0IycmHCBAEGAAg0MbT2AUoiKrAYDAjOCM.png" width="20px" height="25px">
                <p>专注专业</p>
            </div>
            <div>
                <img src="/images/pizza/AD0IycmHCBAEGAAg0MbT2AUokKrHiwIwJjga.png" width="25px" height="25px">
                <p>闪电发货</p>
            </div>
        </div>
    </div>
</body>
</html>