<html>
	<head>
		<title></title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="http:////at.alicdn.com/t/font_969466_0tzf4x80ovq.css" />
		<style>
			*{
				margin: 0;
				padding: 0;
			}
			.side{
				width: 8vh;
				height: 100%;
				background: black;
				position: fixed;
				z-index: 999;
				right:0;
				text-align: center!important;
			}
			.iconfont{
				color:white;
				font-size: 20px;
				line-height: 40px;
				text-align: center;
			}
			.icon-group{
				margin-top: 25px;
				color: white;
				text-align: center;
			}
			
			.icon-group i{
				display: block;
				width: 100%;
				margin: 14px 0;
				font-style: normal;
				
			}
			.icon-group  i:hover{
				background: red;
			}
			.zero{
				margin: 10px auto;
				width:22px;
				height: 24px;
				border-radius: 50%;
				border: none;
				background: red;
				text-align: center;
				line-height: 24px;
			}
			.zero:hover{
				background: white;
				color: red;
			}
			.icon-group:nth-child(2){
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;
			}
			.tip{
			    height: 38px;
			    width: 117px;
			    background-color: #434343;
			    text-align: center;
			    color: #ddd;
			    font-size: 14px;
			    line-height: 38px;
			    display: none;
			    z-index: 999;
			}
			.personal{
				top: 26px;
    			right: 53px;
    			position: absolute;	
    			z-index: 999;
			}
			.xingxing{
				top: 80px;
    			right: 53px;
    			position: absolute;
    			z-index: 999;	
			}
			.triangle{
			    position: absolute;
			    font-size: 35px;
			    color: #434343;
			    right: -10px;
			    top: 0;
			}
			.liuyan{
				bottom: 123px;
    			right: 53px;
    			position: absolute;
			}
			.top{
				bottom: 15px;
    			right: 53px;
    			position: absolute;
			}
			.qrCodeImgPanel {
			    position: absolute;
			    height: 150px;
			    width: 150px;
			    right: 49px;
			    top: -43px;
			    background-color: #FFF;
			    box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
			    display: none;
			    z-index: 999;
			}
			.qrCodeViewPanel {
			    position: absolute;
			    top: 25px;
			    left: 35px;
			    width: 80px;
			    height: 80px;
			}
			.qrCodeViewPanel img {
			    border: 0;
			    vertical-align: bottom!important;
			}
			.qrCodeTip {
			    position: absolute;
			    top: 120px;
			    height: 20px;
			    width: 150px;
			    text-align: center;
			    color: #787878;
			    font-size: 12px;
			}
			.triangle1{
			    position: absolute;
			    font-size: 35px;
			    color: #434343;
			    right: -10px;
			    bottom: 0;
			    z-index: 999;
			}
			.toCart{
				cursor: pointer;
			}
		</style>
		<script src="/jquery.min.js"></script>
		
	</head>
	<body>
		<div class="side">
			<div class="icon-group">
				<i class="iconfont icon-tab_personal"></i>
				<div class="tip personal" id="Tip">我的资料<div class="triangle">◆</div></div>
				<i class="iconfont icon-xingxing1"></i>
				<div class="tip xingxing" id="Tip">我的收藏<div class="triangle">◆</div></div>
				<i style="line-height: 20px;" class="toCart">
					<i class="iconfont icon-gouwuche"></i>
					<br />购<br />物<br />车
					
<!--					<div class="zero">0</div>-->
				
				</i>
			</div>
			<div class="icon-group">
				<a href="/recommend"><i class="iconfont icon-liuyanpinglun"></i></a>
				<div class="tip liuyan" id="Tip">留言<div class="triangle">◆</div></div>
				<i class="iconfont icon-erweima"></i>
				<div class="qrCodeImgPanel" id="qrImgPanel">
					<div class="qrCodeViewPanel">
						<img alt=" " title="查看手机网站" src="/images/side/qrCode.png"></div>
						<div class="qrCodeTip">查看手机网站</div>
						<div class="triangle1" style="color: white;">◆</div>
				</div>
				<i class="iconfont icon-top02"></i>
				<div class="tip top" id="Tip">回到顶部<div class="triangle">◆</div></div>
			</div>
		</div>
	</body>
	<script>
		$(function(){
			 var len = $(".iconfont").length;
			 for(var i = 0; i < len; i++){
			 	$(".iconfont").eq(i).mouseover(function(){
			 		$(this).next().show(200);
			 		}).mouseleave(function(){
			 		$(this).next().hide();
			 		})
			 }
			 
		})
		$("#Tip").click(function(){
			document.body.scrollTop = document.documentElement.scrollTop = 0;
		})
		$(".toCart").click(function(){
			location.href = "/cart";
		})
		
		</script>
</html>